body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,#fdfdfd, #ebedee);
}
h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  text-align: center;
  background:linear-gradient(90deg , yellow, rgb(255, 145, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello{
  background:linear-gradient(90deg, red , yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.last{
  /* color: rgb(43, 43, 240); */
  background:linear-gradient(90deg ,rgb(76, 76, 238), rgb(92, 92, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
    color: rgb(117, 117, 238);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px 10px 10px;
}
.box {
   display: grid;
  width: 100px;
  height: 50px;
  /* margin:auto;  */
  position:absolute;
  bottom: 10%;
  left: 50%;
  

  background-color:rgb(236, 63, 63);
  
  /* border: 15px solid green;
  padding: 50px;
  margin: 20px; */
}